@use "breakpoint/settings";
@use "util/convert";

@function breakpoint-parse-default-pair($first, $second) {
  $default: settings.get('default pair');
  $min: '';
  $max: '';

  // Sort into min and max
  $min: min($first, $second);
  $max: max($first, $second);

  // Set Context
  $context-setter: private-breakpoint-set-context(min-#{$default}, $min);
  $context-setter: private-breakpoint-set-context(max-#{$default}, $max);

  // Make them EMs if need be
  @if (settings.get('to ems') == true) {
    $min: convert.to-em($min);
    $max: convert.to-em($max);
  }

  @return '(min-#{$default}: #{$min}) and (max-#{$default}: #{$max})';
}
