//Based on Sassy-Maps's memo implementation, converted to use new built in modules

@use 'sass:map';
@use 'sass:list';

$Memoization-Table: () !default;

//////////////////////////////
// Memoization Set
//////////////////////////////
@function memo-set($module, $key, $value) {
  $module: "#{$module}";
  $key: "#{$key}";

  $Memoization-Table: map.set($Memoization-Table, $module, $key, $value) !global;

  @return true;
}

@mixin memo-set($module, $key, $value) {
  $holder: memo-set($module, $key, $value);
}

//////////////////////////////
// Memoization Get
//////////////////////////////
@function memo-get($module, $key) {
  $module: "#{$module}";
  $key: "#{$key}";

  $result: map.get($Memoization-Table, $module, $key);

  @return $result;
}
