//Based on Sassy-Maps's memo implementation, converted to use new built in modules

@use 'sass:map';
@use 'sass:list';

$table: () !default;

//////////////////////////////
// Memoization Set
//////////////////////////////
@function set($module, $key, $value) {
  $module: "#{$module}";
  $key: "#{$key}";

  $table: map.set($table, $module, $key, $value) !global;

  @return true;
}

@mixin set($module, $key, $value) {
  $holder: set($module, $key, $value);
}

//////////////////////////////
// Memoization Get
//////////////////////////////
@function get($module, $key) {
  $module: "#{$module}";
  $key: "#{$key}";

  $result: map.get($table, $module, $key);

  @return $result;
}

@function clear($module: null) {
  @if ($module) {
    $table: map.remove($table, $module);
  } @else {
    $table: ();
  }
  @return null;
}
