@use 'sass:map';
@use 'sass:list';

$config: () !default;

//////////////////////////////
// Default Variables
//////////////////////////////
$_defaults: (
  'default media': all,
  'default feature': min-width,
  'default pair': width,

  'force all media type': false,
  'to ems': false,
  'transform resolutions': true,

  'no queries': false,
  'no query fallbacks': false,

  'base font size': 16px,

  'use memo': false
);

//////////////////////////////
// Has Setting
//////////////////////////////
@function has($setting) {
  @return map.has-key($config, $setting);
}

//////////////////////////////
// Get Settings
//////////////////////////////
@function get($setting) {
  @return map.get(if(has($setting), $config, $_defaults), $setting);
}

//////////////////////////////
// Set Settings
//////////////////////////////
@function set($setting, $value) {
  $config: map.merge($config, ($setting: $value)) !global;
  @return true;
}

@mixin set($setting, $value) {
  $_: set($setting, $value);
}

@mixin change($setting, $value) {
  @include set($setting, $value);
}

//////////////////////////////
// Remove Setting
//////////////////////////////
@function reset($settings...) {
  $config: map.remove($config, $settings...) !global;
  @return true;
}

@mixin reset($settings...) {
  $_: reset($settings);
}
