@use 'breakpoint' as b;

@import 'variables';
/*
 * Single value with feature
 * $feature-first : #{$feature-first};
 * $value-first : #{$value-first};
 * $arbitrary-feature : #{$arbitrary-feature};
 * $feature-value-both-strings : #{$feature-value-both-strings};
 */

.foo {
  @include b.breakpoint($feature-first) {
    content: '$feature-first';
    content: '@media (height: 500px)';
  }
  @include b.breakpoint($value-first) {
    content: '$value-first';
    content: '@media (height: 500px)';
  }
  @include b.breakpoint($arbitrary-feature) {
    content: '$arbitrary-feature';
    content: '@media (lion: 500px)';
  }
  @include b.breakpoint($feature-value-both-strings) {
    content: '$feature-value-both-strings';
    content: '@media (orientation: portrait)';
  }

  @include b.mq($feature-first) {
    content: '$feature-first';
    content: '@media (height: 500px)';
  }
  @include b.mq($value-first) {
    content: '$value-first';
    content: '@media (height: 500px)';
  }
  @include b.mq($arbitrary-feature) {
    content: '$arbitrary-feature';
    content: '@media (lion: 500px)';
  }
  @include b.mq($feature-value-both-strings) {
    content: '$feature-value-both-strings';
    content: '@media (orientation: portrait)';
  }
}

@include b.settings-set('to ems', true);
.bar {
  @include b.breakpoint($feature-first) {
    content: '$feature-first';
    content: '@media (height: 31.25em)';
  }
  @include b.breakpoint($value-first) {
    content: '$value-first';
    content: '@media (height: 31.25em)';
  }
  @include b.breakpoint($arbitrary-feature) {
    content: '$arbitrary-feature';
    content: '@media (lion: 31.25em)';
  }

  @include b.mq($feature-first) {
    content: '$feature-first';
    content: '@media (height: 31.25em)';
  }
  @include b.mq($value-first) {
    content: '$value-first';
    content: '@media (height: 31.25em)';
  }
  @include b.mq($arbitrary-feature) {
    content: '$arbitrary-feature';
    content: '@media (lion: 31.25em)';
  }
}
