@use 'breakpoint' as b;

@import 'variables';
/*
 * Set min-width/max-width
 * if both values are numbers
 * $min-max-default-feature : #{$min-max-default-feature};
 */
.foo{
  @include b.breakpoint($min-max-default-feature) {
    content: '$min-max-default-feature';
    content: '@media (min-width: 500px) and (max-width: 700px)';
  }

  @include b.mq($min-max-default-feature) {
    content: '$min-max-default-feature';
    content: '@media (min-width: 500px) and (max-width: 700px)';
  }
}

@include b.settings-set('to ems', true);
.bar {
  @include b.breakpoint($min-max-default-feature) {
    content: '$min-max-default-feature';
    content: '@media (min-width: 31.25em) and (max-width: 43.75em)';
  }

  @include b.mq($min-max-default-feature) {
    content: '$min-max-default-feature';
    content: '@media (min-width: 31.25em) and (max-width: 43.75em)';
  }
}
