@use 'breakpoint' as b;

@import 'variables';
/*
 * 'OR' mediaqueries.
 * tests separated by commas
 * $basic-or : #{$basic-or};
 * $basic-or-media : #{$basic-or-media};
 */
.basic-or {
  @include b.breakpoint($basic-or) {
    content: '$basic-or';
    content: '@media (max-width: 350px), (min-width: 500px) and (max-width: 600px)';
  }
  @include b.respond-to('basic or') {
    content: '$basic-or';
    content: '@media (max-width: 350px), (min-width: 500px) and (max-width: 600px)';
  }
}
.basic-or-media {
  @include b.breakpoint($basic-or-media) {
    content: '$basic-or';
    content: '@media (min-width: 500px), tv and (min-width: 700px) and (color)';
  }
  @include b.mq($basic-or) {
    content: '$basic-or';
    content: '@media (min-width: 500px), tv and (min-width: 700px) and (color)';
  }
  @include b.respond-to('basic or') {
    content: '$basic-or';
    content: '@media (min-width: 500px), tv and (min-width: 700px) and (color)';
  }
}
/* @include b.settings-set('to ems', true); */
@include b.settings-set('to ems', true);
.basic-or-to-ems {
  @include b.breakpoint($basic-or) {
    content: '$basic-or';
    content: '@media (min-width: 31.25em), tv and (min-width: 43.75em) and (color)';
  }
  @include b.mq($basic-or) {
    content: '$basic-or';
    content: '@media (min-width: 31.25em), tv and (min-width: 43.75em) and (color)';
  }
}
