@use 'breakpoint' as b with ($settings-config: ('use memo': true));
@use "util/memo";

@import "variables";

$_: memo.clear();
$loops: 100;

@include b.settings-set('no queries', true);
@include b.settings-set('no query fallbacks', true);

@mixin memoize-loop($var) {
  _memoization: "#{inspect(memo.$table)}";
  @for $i from 1 through $loops {
    @include b.breakpoint($var) {
      _test: "breakpoint(#{$var})";
      // _memoization: "#{inspect(memo.$table)}"
    }
  }
}

/**
  * Memoized Output
  * - Compile time should be reduced for like calls
**/
.memoize--simple-feature {
  @include memoize-loop($single-pixel-value);
}

.memoize--complex-feature {
  @include memoize-loop($multidimensional-plus-one-sided);
}

.memoize--shared-feature {
  @include memoize-loop($feature-first);
}

.memoize--or-query {
  @include memoize-loop($dynamic-context);
}

.memoize--with-fallback {
  @include memoize-loop($no-query);
}

.memoize--breakpoint-function-context {
  _memoization: "#{inspect(memo.$table)}";
  @for $i from 1 through $loops {
    _test: "breakpoint(#{$legacy})";
    // _memoization: "#{inspect(memo.$table)}"
    $bkpt: b.breakpoint($legacy, 'min-width', 'media', 'no-query');
    $contexts: map-get($bkpt, 'context');
    @each $k, $v in $contexts {
      _#{$k}: inspect($v);
    }
  }
}
